<div class="measure">
    <h1>What is Branchr?</h1>
    <h5>Simply put, Branchr is the best way to create and share content on the web.</h5>
    <br>
    <p> Traditional social networks allow users to create content, but this content is extremely limted depending on the website - mainly text, images, sounds, or videos. Branchr removes these shackles by allowing users to create what we like to call 'Content Engines'. Content Engines are miniature web applications that give users the power to create all types of content.</p>

    <p>Consider a music-editing application. The application allows a user to choose a song, tweak the pitch, frequency, playback speed, or any number of the song's attributes, and then listen to the new version of the song. This is awesome, but what if someone wants to share not only their new hit single but also the way it was created? Sure, he can hop onto nearly any social network and post the song link along with a list of the things he changed, but Branchr allows him to post his instance of the music application! </p>

    <p>In this example, the music editor is the Content Engine. It takes as inputs anything that can be changed in the song, and the result, a 'Post', is a new instance of the music editor which can take any song and apply the same transformation. In other words, Branchr lets users go meta. Don't share the chipmunk remix to a song; instead, share something that can chipmunk-ify any song! </p>
    <br>
    <p>We see 3 types of Branchr users:</p>
    <ol type="1">
        <li>The Content Engine Developers - Developers possess the skill to create a web application that others will eventually use to create posts. Developers can write code, examine the work of other Developers, and even create their own spinoffs of other Content Engines. Following the above example, a Developer would write the code for the Music Editor.</li>

        <li>The Creators - Creators are interested in creating content using the Content Engines. Creators love to create posts and explore how they were created. Creators may not know how to develop an engine, but they work closely with them to fill up feeds with the cool media they create.</li>

        <li>The Explorers - Explorers want to see what all the fuss is about. They scroll feeds to find cool content, discuss what's hot and what's not, and determine what content is currently popular. </li>
    </ol>
    <br>
    <p>
    We think in terms of these three types of users, but any one person will probably fill at least two of these roles if not all of them. Our goal is for users to be able to use Branchr at whatever level they feel comfortable to experience a new, open concept for social media. 
    </p>
    <p>
    Want more information about the features Branchr has for each role? 
        <br>Developers
        <br>Creators
        <br>Explorers</p>