<div id="options">
    <div class="measure px1">
        <div class="ui basic mini compact buttons">
            <div class="ui button" v-on="click: tab = 0" v-class="active: tab == 0">params</div>
            <div class="ui button" v-on="click: tab = 1" v-class="active: tab == 1">javascript</div>
            <div class="ui button" v-on="click: tab = 2" v-class="active: tab == 2">html</div>
            <div class="ui button" v-on="click: tab = 3" v-class="active: tab == 3">css</div>
            <div class="ui button" v-on="click: tab = 4" v-class="active: tab == 4">preview</div>
        </div>
        <div class="ui mini compact action input" style="float: right; top: -8px;">
            <input type="text" v-model="feed.name" placeholder="Feed Name" style="font-size: small;">
            <button class="ui compact blue button" v-on="click: save">
                <i class="ui icon save" style="margin: 0"></i>
            </button>
        </div>
        <button class="ui mini float right compact blue button" v-on="click: force = !force">
            <i v-show="!force" class="ui icon" style="margin: 0"></i>
            <i v-show="force" class="ui warning circle icon" style="margin: 0"></i>
        </button>
    </div>
</div>
<loading-content v-with="loadState: loadState">
    <div class="measure px1">
        <div v-if="tab == 0">
            <!--<div v-repeat="field: engine.fields">-->
                <!--key<input type="text" v-model="field.key">-->
                <!--type<br><select options="fieldTypeOptions" v-model="field.type" style="color: black;" number></select><br>-->
                <!--default<div v-component="{{getComponentFromCode(field.type)}}" v-with="model: field.default"></div><br>-->
                <!--<button class="btn btn&#45;&#45;red btn&#45;&#45;s" v-on="click: removeField($index)">Remove</button>-->
                <!--<br><hr><br>-->
            <!--</div>-->
            <div v-repeat="field: engine.fields">
                <div class="ui labeled fluid input">
                    <div class="ui selection label dropdown"
                         v-class="
                            active: $parent.dropdownVisible === $index,
                            visible: $parent.dropdownVisible === $index
                         "
                         tabindex="0" v-on="click: $parent.toggleDropdownVisible($index)">
                        <input type="hidden" name="type" v-model="field.type">
                        <div class="default text">{{ getLabelFromCode(field.type) }}</div>
                        <i class="dropdown icon"></i>
                        <span>{{dropdownVisible[$index]}}</span>
                        <div class="menu transition"
                             v-class="
                                hidden:  $parent.dropdownVisible !== $index,
                                visible: $parent.dropdownVisible === $index
                             "
                             tabindex="-1" style="">
                            <div v-repeat="fieldType : fieldTypeOptions"
                                 v-on="click: setFieldType(field,fieldType)"
                                 class="item" data-value="{{fieldType.value}}">{{fieldType.text}}</div>
                        </div>
                    </div>
                    <input type="text" v-model="field.key" placeholder="Field Key">
                </div>
                <div class="ui pointing below label" style="margin-top: 10px">Default Value</div>
                <div v-component="{{getComponentFromCode(field.type)}}" v-with="model: field.default"></div><br>
                <button class="btn btn--red btn--s" v-on="click: removeField($index)">Remove</button>
                <br><hr><br>
            </div>
            <button class="btn btn--green" v-on="click: addField">Add</button>
        </div>
        <code-editor v-if="tab == 1" v-with="value: engine.js" lang-type="js" style="height: 1000px"></code-editor>
        <code-editor v-if="tab == 2" v-with="value: engine.html" lang-type="html"></code-editor>
        <code-editor v-if="tab == 3" v-with="value: engine.css" lang-type="css"></code-editor>
        <div v-if="tab == 4">
            <h2>Preview</h2>
            <div v-repeat="fields" v-component="{{component}}" v-on="save: updatePreview"></div>
            <br>
            <div class="flt--right">
                <button class='btn btn--s' v-on="click: updatePreview">Preview</button>
            </div>
            <br><br>
            <div v-show="showPreview">
                <div class="card" style="margin: 1rem;" v-transition="fade">
                    <b-contrib v-ref="preview" v-with="engine: engine"></b-contrib>
                </div>
            </div>
        </div>
    </div>
</loading-content>

