<div id="options">
  <div class="measure px1">
    <div class="ui basic mini compact buttons">
      <div class="ui button active">html</div>
      <div class="ui button">css</div>
      <div class="ui button">javascript</div>
    </div>
  </div>
</div>
<div class="measure">
  <loading-content v-with="loadState: loadState">
    <br>
    <pre>{{feed | json 4}}</pre>
    <br>
    <pre>{{fields | json 4}}</pre>
    <br>
    <code-editor v-with="value: js" lang-type="js"></code-editor>
    <br>
    <code-editor v-with="value: html" lang-type="html"></code-editor>
    <br>
    <code-editor v-with="value: css" lang-type="css"></code-editor>
    <br>
    <button class="btn btn--blue" v-on="click: save">Save</button>
  </loading-content>
</div>

