<loading-content v-with="loadState: loading">
<h1>{{feed.name}}</h1>
<div v-transition="fade" class="grd-row">
    <div class="grd-row-col-4-6">
        <div v-repeat="contribs">
            <b-contrib contrib-id="{{$value}}"></b-contrib>
        </div>
    </div>
    <div class="grd-row-col-2-6">
        <h3>Feed</h3><pre>{{feed | json 4}}</pre>
        <h3>Engine</h3><pre>{{engine | json 4}}</pre>
        <h3>Fields</h3><pre>{{fields | json 4}}</pre>
    </div>
</div>
<form class="measure" v-on="submit: createPost">
	<div v-repeat="fields" v-component="{{component}}"></div>
	<button class='btn--blue' type="submit">Post</button>
</form>
</loading-content>
