/********************
 * Fonts
 ********************/

//@import url(http://fonts.googleapis.com/css?family=Viga&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Viga|Source+Code+Pro:200,300,400,500,600,700,900&subset=latin,latin-ext);

/********************
 * Icon Packs
 ********************/

@import url(http://i.icomoon.io/public/temp/6e11deb35a/Branchr/style.css);

/********************
 * General
 ********************/

body {
  @extend .bg--dark-gray;
  color: $white;
}

input {
  color: black;
}

/********************
 * Header
 ********************/

$nav-colors: (
    ('home', 'rgb(42,220,142)'),
    ('users','rgb(253,209,8)'),
    ('feeds','rgb(214,47,28)')
);

header {
  @extend .bg--white;
  
  box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.4);

  position: relative;

  .logo {
    font-family: "Viga";
    padding-right: 1rem;
    font-size: larger;
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-gray;
  }

  nav {
    display: block;
    padding: 0;
    text-transform: capitalize;

    ul {
      
      &#menu {
        font-family: "Viga";
      }
      
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin: 0;

        border: {
          width: 5px 0px;
          style: solid;
          color: transparent;
        }

        a {
          color: inherit;
        }

        @each $page in $nav-colors {
          body.#{nth($page,1)} &.#{nth($page,1)} {
            border-bottom-color: #{nth($page,2)};
          }
        }
        body.page &.page {

        }
      }

      &.flt--left li {
        float: left;
      }

      &.flt--right li {
        float: left;
      }
    }

    /* unvisited link */
    a:link {
      text-decoration: none;
    }

    /* visited link */
    a:visited {
      text-decoration: none;
    }

    /* mouse over link */
    a:hover {
      text-decoration: none;
    }

    /* selected link */
    a:active {
      text-decoration: none;
    }
  }
}

/*************************
 * Options design pattern
 *************************/

#options {
  @extend .bg--light-gray;
  @extend .small;
  @extend .py1;

  margin-bottom: 0.5rem;
}

/********************
 * Footer
 ********************/

footer {

  margin-top: 0.5rem !important;
  padding-top: 0.5rem;
  border-top: solid $gray-mid-6 1px;
  color: $light-gray;
  text-transform: capitalize;
  font-size: $font-size;

  div {
    display: inline;
  }

  a {
    padding-left: 0.5rem;
  }

  li {
    margin-left: 2em;
  }
}

/********************
 * Editor
 ********************/
