@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/furtive/scss/all';

@import "colors";
@import "base";

@import "partials/animations";
@import "partials/buttons";
@import "partials/card";

@import 'components/loading-spinner';
@import 'components/loading-content';
@import 'components/contrib';

/* WARNING!
 * Putting anything other than truly global styles (like *) in this file is
 * considered bad practice. For more information, see link below:
 * http://thesassway.com/beginner/how-to-structure-a-sass-project
 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[v-cloak] {
  visibility: hidden;
}

