<div class="ui item" >
    <div class="content">

        <div class="ui header contrib-title">
            <span v-if="ctrlName == 'feed'">{{contrib.title ? contrib.title : 'UNTITLED'}}</span>
            <a v-if="ctrlName == 'explore'" v-attr="href: '#/feed/' + feed._id">{{contrib.title ? contrib.title : 'UNTITLED'}}</a>
            <div class="sub header muted">
                &nbsp;| Contributed by
                <a class="user-link" v-attr="href: contrib.creator ? '#/user/' + contrib.creator.username : '#'" v-class="anon: !contrib.creator">
                    {{ contrib.creator ? '@' + contrib.creator.username : "anonymous" }}
                </a>
            </div>
        </div>
        <div v-if="ctrlName == 'explore'" class="ui header engine-name">
            <a v-attr="href: '#/feed/' + feed._id">{{ feed.name }}</a>
            <div class="sub header muted">
                &nbsp;| Developed by
                <a class="user-link" v-attr="href: '#/user/' + feed.owners[0].username">
                    {{ feed.owners[0].username ? '@' + feed.owners[0].username : "anonymous" }}
                </a>
            </div>
        </div>
        <div class="description">
            <b-contrib v-with="contrib: contrib"></b-contrib>
        </div>
        <div class="extra social-meta">
            <div class="ui medium basic compact button" v-on="click: vote(1)">
                <i class="chevron circle up black icon"></i>
            </div>
            {{contrib.score}}
            <div class="ui medium basic compact button" v-on="click: vote(-1)">
                <i class="chevron circle down black icon"></i>
            </div>
            <!--<div class="ui medium basic compact button">-->
                <!--<i class="add circle black icon"></i> 17-->
            <!--</div>-->
            <!--<span>Source 1</span>-->
            <!--<span>Source 2</span>-->
        </div>
        <div v-if="tags.length" class="extra contrib-tags">
            <div v-repeat="tag : contrib.tags" class="ui mini tag label">
                {{tag}}
            </div>
        </div>
    </div>
</div>
<div class="ui divider"></div>