<div class="login-overlay"v-show="show" v-transition="fade" v-on="click: close()"></div>
<div class="login-dialog" v-show="show" v-transition="fade">
    <button class="btn--red btn--s flt--right" v-on="click: close()">X</button>
    <div class="clearfix"></div>
    <form v-on="submit: submit">
        <label for="username">Username</label>
        <input name="username" type="text" v-model="username">
        <label for="password">Password</label>
        <input name="password" type="password" v-model="password">
        <input type="submit" class="btn--blue" value="Login">
    </form>
</div>
