<div class="ui item" >
    <div class="content">

        <div class="ui header contrib-title">
            <span>{{contrib.title}}</span>
            <div class="sub header muted">
                &nbsp;| Contributed by
                <a class="user-link" v-attr="href: '#/user/' + contrib.creator.username">
                    {{ '@' + contrib.creator.username }}
                </a>
            </div>
        </div>

        <div class="ui header engine-name">
            <a v-attr="href: '#/feed/' + feed._id">{{ feed.name }}</a>
            <div class="sub header muted">
                &nbsp;| Developed by
                <a class="user-link" v-attr="href: '#/user/' + feed.permissions.owners[0]">
                    {{ '@' + feed.permissions.owners[0] }}
                </a>
            </div>
        </div>
        <div class="description">
            <b-contrib v-with="contrib: contrib"></b-contrib>
        </div>
        <div class="extra social-meta">
            <div class="ui medium basic compact button">
                <i class="chevron circle up black icon"></i> {{contrib.score}}
            </div>
            <div class="ui medium basic compact button">
                <i class="add circle black icon"></i> 17
            </div>
            <span>Source 1</span>
            <span>Source 2</span>
        </div>
        <div class="extra contrib-tags">
            <div class="ui mini tag label">
                Tag name 1
            </div>
            <div class="ui mini tag label">
                Tag name 2
            </div>
            <div class="ui mini tag label">
                Tag name 3
            </div>
        </div>
    </div>
</div>
