<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="styles/semantic-ui/semantic.css">-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!--<link rel="stylesheet" type="text/css" href="styles/icons/icomoon.css">-->
    <script src="lib/system.js"></script>
    <script>
        System.config({
            baseURL: '',
            paths: {
                'traceur': 'lib/traceur.min.js',
                'vue': 'lib/vue.js',
                'director': 'lib/director.min.js',
                'http': 'lib/http.js'
            },
            map: {
                'html': 'lib/text',
                'css': 'lib/css'
            }
        });
        System.import('main');
    </script>
</head>
<body v-cloak id="main" v-class="ctrlName">
    <header>
        <div class="measure px1">
            <a class="logo flt--left" href="#/">Branchr</a>
            <nav v-cloak>
                <ul class="flt--left" id="navigation">
                    <li v-repeat="nav" class="pyHalf" v-class="name">
                        <a class='btn--link' v-attr="href: '#'+url">{{name}}</a>
                    </li>
                </ul>
                <ul class="flt--right" id="menu">
                    <li class="pyHalf">
                        <a href="#/description" class='btn--link small'>What is Branchr</a>
                    </li>
                    <li class="pyHalf">
                        <a id="login-button" class="ui mini button basic compact"
                           v-if="!user"
                           v-on="click: openLoginDialog()">
                            Log in
                        </a>
                        <div class="profile-button"
                           v-if="user"
                           >
                            <div class="ui pointing red mini compact label logout-button"
                                 v-if="showLogout"
                                 v-on="click: logout">
                                Logout
                            </div>
                            <a class="ui mini button green compact"
                               v-on="click: showLogout = !showLogout">
                                {{user.username}}
                            </a>
                        </div>
                    </li>
                </ul>
                <div style="clear: both"></div>
            </nav>
        </div>
    </header>
    <login-dialog v-ref="loginDialog"></login-dialog>
    <main v-component="{{ctrlName}}"
          v-ref="ctrl">
    </main>
    <footer class="measure">
        <div id="copyright"></div>
        <a>about</a>
        <a>contact</a>
        <a>help</a>
    </footer>
    <script>
        var d = new Date().getFullYear();
        document.getElementById("copyright").innerHTML = "&copy; " + d + " Branchr";
    </script>
</body>
</html>
